{% extends 'users/base3.html' %}
{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Dashboard</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Teacher Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-five w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-chalkboard"></i>
                        </div>
                        <div class="db-info">
                            <h3>04/06</h3>
                            <h6>Total Classes</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-six w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <div class="db-info">
                            <h3>40/60</h3>
                            <h6>Total Students</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-seven w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-book-open"></i>
                        </div>
                        <div class="db-info">
                            <h3>30/50</h3>
                            <h6>Total Lessons</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-eight w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-clock"></i>
                        </div>
                        <div class="db-info">
                            <h3>15/20</h3>
                            <h6>Total Hours</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-9">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-8 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="card-title">Upcoming Lesson</h5>
                                </div>
                                <div class="col-6">
                                    <span class="float-right view-link"><a href="#">View All Courses</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="pt-3 pb-3">
                            <div class="table-responsive lesson">
                                <table class="table table-center">
                                    <tbody>
                                        {% for lesson in upcoming_classes %}
                                        <tr>
                                            <td>
                                                <div class="date">
                                                    <b>{{ lesson.get_day_display }}</b>
                                                    <p>{{ lesson.start_time|time:"H:i" }} - {{ lesson.end_time|time:"H:i" }} (120 min)</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="date">
                                                    <b>Lesson {{ lesson.timetable_id }}</b>
                                                    <p>{{ lesson.subject_name }}</p>
                                                </div>
                                            </td>
                                            <td><a href="#">Confirmed</a></td>
                                            <td>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#rescheduleModal" onclick="setTimetableId({{ lesson.timetable_id }})">Reschedule</button>
</td>

                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="4">No upcoming classes.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <h5 class="card-title">Semester Progress</h5>
                                </div>
                            </div>
                        </div>
                        <div class="dash-widget">
                            <div class="circle-bar circle-bar1">
                                <div class="circle-graph1" data-percent="50">
                                    <b>50%</b>
                                </div>
                            </div>
                            <div class="dash-info">
                                <h6>Lesson Progressed</h6>
                                <h4>30 <span>/ 60</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-8 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="card-title">Teaching Activity</h5>
                                </div>
                                <div class="col-6">
                                    <ul class="list-inline-group text-right mb-0 pl-0">
                                        <li class="list-inline-item">
                                            <div class="form-group mb-0 amount-spent-select">
                                                <select class="form-control form-control-sm">
                                                    <option>Weekly</option>
                                                    <option>Monthly</option>
                                                    <option>Yearly</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="apexcharts-area"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <h5 class="card-title">Teaching History</h5>
                        </div>
                        <div class="card-body">
                            <div class="teaching-card">
                                <ul class="activity-feed">
                                    <li class="feed-item">
                                        <div class="feed-date1">Sep 05, 9 am - 10 am (60min)</div>
                                        <span class="feed-text1"><a>Introduction to Algebra</a></span>
                                        <p><span>In Progress</span></p>
                                    </li>
                                    <li class="feed-item">
                                        <div class="feed-date1">Sep 04, 2 pm - 3 pm (70min)</div>
                                        <span class="feed-text1"><a>Biology: Cell Structure</a></span>
                                        <p>Completed</p>
                                    </li>
                                    <li class="feed-item">
                                        <div class="feed-date1">Sep 02, 1 pm - 2 am (80min)</div>
                                        <span class="feed-text1"><a>History: World War II Overview</a></span>
                                        <p>Completed</p>
                                    </li>
                                    <li class="feed-item">
                                        <div class="feed-date1">Aug 30, 10 am - 12 pm (90min)</div>
                                        <span class="feed-text1"><a>Chemistry: The Periodic Table</a></span>
                                        <p>Completed</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-3 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h5 class="card-title">Calendar</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="calendar-doctor" class="calendar-container"></div>
                    <div class="calendar-info calendar-info1">
<!--                        <div class="calendar-details">-->
<!--                            <p>09 am</p>-->
<!--                            <h6 class="calendar-blue d-flex justify-content-between align-items-center">Fermentum <span>09am - 10pm</span></h6>-->
<!--                        </div>-->
<!--                        <div class="calendar-details">-->
<!--                            <p>10 am</p>-->
<!--                            <h6 class="calendar-violet d-flex justify-content-between align-items-center">Pharetra et <span>10am - 11am</span></h6>-->
<!--                        </div>-->
<!--                        <div class="calendar-details">-->
<!--                            <p>11 am</p>-->
<!--                            <h6 class="calendar-red d-flex justify-content-between align-items-center">Break <span>11am - 11.30am</span></h6>-->
<!--                        </div>-->
<!--                        <div class="calendar-details">-->
<!--                            <p>12 pm</p>-->
<!--                            <h6 class="calendar-orange d-flex justify-content-between align-items-center">Massa <span>11.30am - 12.00pm</span></h6>-->
<!--                        </div>-->
<!--                        <div class="calendar-details">-->
<!--                            <p>09 am</p>-->
<!--                            <h6 class="calendar-blue d-flex justify-content-between align-items-center">Fermentum <span>09am - 10pm</span></h6>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add this modal below your table in the Upcoming Lessons section -->
<div class="modal fade" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="rescheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rescheduleModalLabel">Reschedule Lesson</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'reschedule_lesson' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="timetable_id" id="timetableId">
                    <div class="form-group">
                        <label for="newDate">New Date:</label>
                        <input type="date" name="new_date" id="newDate" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="newTime">New Time:</label>
                        <input type="time" name="new_time" id="newTime" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setTimetableId(timetableId) {
        document.getElementById('timetableId').value = timetableId;
    }

    function submitReschedule() {
        const timetableId = document.getElementById('timetableId').value;
        const newDate = document.getElementById('newDate').value;
        const newTime = document.getElementById('newTime').value;

        if (!newDate || !newTime) {
            alert('Please provide both a new date and a new time.');
            return;
        }

        const data = {
            timetable_id: timetableId,
            new_date: newDate,
            new_time: newTime
        };

        fetch('/reschedule/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (response.ok) {
                alert('Lesson rescheduled successfully!');
                location.reload();  // Optionally reload the page or update the UI
            } else {
                alert('Failed to reschedule lesson. Please try again.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    }
</script>



{% endblock %}
