<!DOCTYPE html>
<html lang="en">
{% load static %}

   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>VIT - Dashboard</title>
      <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
      <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/simple-calendar/simple-calendar.css' %}">
       <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/fullcalendar.min.css' %}">


   </head>
   <body>
    <div class="main-wrapper">

         {% include 'users/includes2/header.html' %}

         {% include 'users/includes2/sidebar.html' %}

         <div class="page-wrapper">

               <div class="content container-fluid">
               {% block content %}
               {% endblock %}



            </div>
             <div>

            {% include 'users/includes2/footer.html' %}
            </div>

        </div>
    </div>



      <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/chart_data_backend.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>
         <script src="{% static 'assets/js/moment.min.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
      <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
      <script src="{% static 'assets/plugins/simple-calendar/jquery.simple-calendar.js' %}"></script>
      <script src="{% static 'assets/js/calander.js' %}"></script>
    <script src="{% static 'assets/plugins/fullcalendar/fullcalendar.min.js' %}"></script>
      <script src="{% static 'assets/plugins/fullcalendar/jquery.fullcalendar.js' %}"></script>
      <script src="{% static 'assets/js/circle-progress.min.js' %}"></script>
   <script>
        $(document).ready(function() {
            console.log(typeof $.fn.circleProgress); // Should log 'function'

            $('.circle-graph3').circleProgress({
                value: 0.75,
                size: 100,
                thickness: 10,
                fill: { color: '#6e6bfa' }
            });
        });
        $(document).ready(function() {
            console.log(typeof $.fn.circleProgress); // Should log 'function'

            $('.circle-graph2').circleProgress({
                value: 0.75,
                size: 100,
                thickness: 10,
                fill: { color: '#6e6bfa' }
            });
        });
    </script>
   <script>
    $('#uploadModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var assignmentId = button.data('assignment-id'); // Extract info from data-* attributes
        var assignmentTitle = button.data('assignment-title');

        // Log to the console
        console.log('Assignment ID:', assignmentId);  // Check if this is correct
        console.log('Assignment Title:', assignmentTitle);

        // Update the modal's content
        var modal = $(this);
        modal.find('#assignment-id').val(assignmentId);
        modal.find('.modal-title').text('Upload Assignment for ' + assignmentTitle);
    });
</script>
   </body>

</html>