{% extends 'users/base2.html' %}
{% load custom_filters %}
{% block content %}

<div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Registration</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                           <li class="breadcrumb-item active">Registration</li>
                        </ul>
                     </div>
                  </div>
               </div>
    {% include 'users/includes/messages.html' %}
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post" action="{% url 'register_student' %}">
                             {% csrf_token %}
                              <div class="row">
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Select Semester To Register In</label>
                                       <select class="form-control" id="registerationForm" name="semester">
                                          <option>Select Semester</option>

                                          <option value="1">Semester-1</option>
                                         <option value="2">Semester-2</option>
                                         <option value="3">Semester-3</option>
                                         <option value="4">Semester-4</option>
                                         <option value="5">Semester-5</option>
                                         <option value="6">Semester-6</option>
                                         <option value="7">Semester-7</option>
                                         <option value="8">Semester-8</option>



                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

{% endblock %}
